*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
    display: flex;
    justify-content: center;
}
button {
width: 50px;
height: 30px; 

}
div {
    width: 700px;
    height: 400px;
    display: flex;
    


}
